body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--gray-2);
}

img {
  max-width: 100%;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
